{% extends 'base.html' %}
{% block title %}Giỏ hàng{% endblock %}
{% block content %}
<h1>Giỏ hàng</h1>
<table>
  <tr><th>Sản phẩm</th><th>SL</th><th>Giá</th><th>Tổng</th><th></th></tr>
  {% for item in cart_obj %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.price }}₫</td>
      <td>{{ item.total_price }}₫</td>
      <td><a href="{% url 'cart:cart_remove' item.product.id %}">Xoá</a></td>
    </tr>
  {% empty %}
    <tr><td colspan="5">Giỏ hàng trống</td></tr>
  {% endfor %}
</table>
<p><b>Tổng cộng:</b> {{ cart_obj.get_total_price }}₫</p>
{% endblock %}
